@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@import url('/assets/new/Spartan-Regular.ttf;');


:root {

    --fonte-principal: 'League Spartan';
}

body {

    box-sizing: border-box;
    height: 100vh;
}

* {
    margin: 0;
    padding: 0;
}

.cabecalho {

    margin: 0 16px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalho-item {

    padding: 20px;
    font-family: var(--fonte-principal);
    font-size: 14px;
    color: black;
    font-weight: 600;
    text-decoration: none;
}

.cabecalho-botao-CC {

    padding: 15px 25px;
    background-color: #FF204E;
    color: white;
    border-radius: 28px;
    
    font-size: 20px;
    text-decoration: none;
    font-family: var(--fonte-principal);
    font-weight: 700;
}

.container__principal {
    margin: 0 16px;
    background-color: #00224D;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
}

.container__divisao {

    display: flex;
    flex-direction: column;
    width: 540px;
    margin-top: 37px;
    margin-left: 33px;
    font-family: var(--fonte-principal);
    gap: 39px;
}

.container__titulo {

    color: white;
    font-size: 96px;
    font-family: var(--fonte-principal);
    font-weight: 600;
}

.marca__texto {

    color: #FF204E;
}

.container__botao {

    display: flex;
    align-items: flex-start;
    background-color: white;
    padding: 20px;
    width: 216px;
    gap: 10px;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    color: black;
    align-items: flex-start;

    border-radius: 36.5px;
}

.container__paragrafo {

    color: white;
    font-size: 16px;
    font-family: var(--fonte-principal);
    font-weight: 500;
}


/* SEGUNDA CAIXA - VERMELHA */


.secundaria {

    margin: 0 16px;
    background-color: #A0153E;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
}

.secundaria__divisao {
    display: flex;
    
}

.secundaria__titulo {

    font-size: 64px;
    margin: 5px 104px 46px 30px;
    color: white;
    font-weight: 600;
    width: 1274px;
    font-family: var(--fonte-principal);
}